* {
    margin: 0;
    padding: 0;
}


html {
    
    /* This will make the gradient extend to your content height otherwise it will be limited to just the window height. */
    
    min-height: 100%;
    font-family: Poppins;

}

body {
    background: radial-gradient(rgb(139,195, 245), #1294b8);
}
/* -------------------- HEAD ---------------------- */
header {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-top: 10px;
    margin-left: 15px;
    font-weight: bolder;
    color:white;
}

.navbar-top {
    margin-top: 25px;
    list-style: none;
}

li {
    font-size: 12px;
    float: left;
    margin: 0 9px;
    color: white;
    text-align:justify;
}

.icones-container{
    margin-top: 25px;
    margin-right: 50px;
    
}

.fa-brands {
    padding-left: 15px;
    
}

/* -------------------- MAIN ---------------------- */

.main-container {
    margin-top: 60px;
    display: inline-flex;

}

.contenttext-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: justify;
}

p1, p2 {
    padding: 0 100px;
}

p1 {
    font-weight: bolder;
    font-size: 35px;
}

p2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    white-space:normal;
}

.forminput-mail {
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    padding: 5px 5px;
    border-radius: 25px;
    background-color: rgb(210, 234, 255);

}
#email-submit {
    border-style: none;
    flex-grow: 2;
    outline: none;
    margin-left: 5px;
    background-color: rgb(210, 234, 255);
}

::placeholder {
    font-family: Poppins;
    font-weight: bold;
    color: rgba(127, 127, 127, 0.421);
}

.sub-btn {
    background-color: #1294b8;
    border-style: none;
    border-radius: 20px;
    padding: 6px 10px;
    font-family: Poppins;
    font-size: 18px;
    color: white;

}

.backimage-container {
    width: 120%;
}

.backgrnd-img {
    padding-top: 30px;
    width: 90%;
    
}
