* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}


/*------------------------------------- M A S T E R ---------------------------------------------*/

html {
    
    /* This will make the gradient extend to your content height otherwise it will be limited to just the window height. */
    
    min-height: 100%;
    font-family: Poppins;

}

body {
    width: 100%;
    height: 100vh;
    background: radial-gradient(rgb(139,195, 245), #1294b8);
}

.master-container {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}


/*------------------------------------- H O M E / SECTION ---------------------------------------------*/


header {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-top: 10px;
    margin-left: 130px;
    font-weight: bolder;
    color:white;
}



.navbar-top {
    margin-top: 25px;
    list-style: none;
}

li {
    font-size: 16px;
    float: left;
    margin: 0 9px;
    color: white;
    text-align:justify;
    transition: 0.8s;
}

li:hover {
    cursor: pointer;
    opacity: 45%;
    transition-timing-function: ease-out;
}


.icones-container {
    margin-top: 25px;
    margin-right: 120px;
    
}


.icon-home{
    padding-left: 15px;
    transition: 0.8s;  
}

.icon-home:hover {
    cursor: pointer;
    opacity: 45%;
    transition-timing-function: ease-out;
}

.main-container {
    margin-top: 60px;
    display: inline-flex;
    margin-left: 80px;
    
}

.contenttext-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    text-align: left;
    padding: 0 124px;
    
}

p1, p2 {
    padding: 0 100px;
}

p1 {
    font-weight: bolder;
    font-size: 3em;
    word-spacing: normal;
}

p2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    white-space:normal;
}

.forminput-mail {
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    padding: 5px 5px;
    border-radius: 25px;
    background-color: rgb(210, 234, 255);

}
#email-submit {
    border-style: none;
    flex-grow: 2;
    outline: none;
    margin-left: 5px;
    background-color: rgb(210, 234, 255);
}

::placeholder {
    font-family: Poppins;
    font-weight: bold;
    color: rgba(127, 127, 127, 0.421);
}

.sub-btn {
    background-color: #1294b8;
    border-style: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-family: Poppins;
    font-size: 12px;
    color: white;
    transition: 0.8s;
}

.sub-btn:hover {
    cursor: pointer;
    background-color: #20b7e1;
    transition-timing-function: ease-out;
}

.backimage-container {
    width: 120%;
}

.backgrnd-img {
    padding-top: 30px;
    width: 75%;
    
}



/*------------------------------------- C A R D / SECTION ---------------------------------------------*/


.card-page {
    background: white;
}

.cardpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    
}

.title-cardsection {
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

p3 {
    text-align: center;
    color: lightslategray;
    margin-top: 15px;
}

p4 {
    text-align: center;
    color: lightslategray;
    margin-top: 15px;
}


.cards-container {
    display: flex;
    margin-bottom: 190px;
}

.card {
    width:300px;
    height: 300px;
    border-radius: 10px;
    background: radial-gradient(rgb(139,195, 245), #1294b8);
    margin-top: 70px;
    transition: 0.8s;
}

.card:hover {
    transform: translateY(-10px);
    transition-timing-function: ease-out;
}

.card.card-01 {
    box-shadow: 2px 10px 35px 2px rgba(160, 160, 160, 0.8);
}

.card.card-02 {
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0px 10px 35px 2px rgba(160, 160, 160, 0.8);

}
.card.card-03 {
    box-shadow: -2px 10px 35px 2px rgba(160, 160, 160, 0.8);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

i.card-icon {
    font-size: 35px;
}

.card-text {
    text-align: center;
    margin-top: 25px;
}

.title-card {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.p-card {
    color: white;
    font-size: 12px;
    margin-top: 15px;
    padding: 0 14px;
}




/*------------------------------------- T E A M / SECTION ---------------------------------------------*/

.team-page {
    background-color: white;
}

.teampage-toptitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.title-team {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

p5 {
    text-align: center;
    color: silver;
    margin-top: 15px;
}


.team-stats {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.stat-nbr {
    font-size: 20px;
    font-weight: bold;
}

.stat-title {
    font-size: 14px;
    color: silver;

}

.cardpeople-image {
    width: 230px;
    height: 230px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.cardteam-container {
    display: flex;
   justify-content: space-evenly;
   margin-top: 40px;
}
 
.cardpeople-image .team-ppl {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 0.8s;
}

.cardpeople-image:hover .team-ppl {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transform: scale(1.1);
    transition-timing-function: ease-out;
}

.cardpeople-image:hover .icon-container {
    top: calc(100% - 70%);
    left: calc(100% - 99%);
    opacity: 1;
}


.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55px;
    /* border: solid 2px blue; */
    position: absolute;
    top: -2px;
    left: -35px;
    transition: 0.8s;
    opacity: 0;
}
 
.icon-ppl {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: baseline;
}

.icon-ppl:hover {
    cursor: pointer;
}

i.ppl-social {
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.ppl-name, span{
    border: none;
    text-align: center;
}

span.ppl-post {
    color: silver;
    font-size: 13px;
}

.ppl-name {
    margin-top: 10px;
}


/*------------------------------------- P A R A L L A X / SECTION ---------------------------------------------*/


.parallax {
    height: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.540), rgb(0, 0, 0, 0.540)), url(Images/parallax.png);

}

.parallaxbloc-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
}

.parallax-title {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

p6 {
    font-size: 18px;
    text-align: center;
    color: silver;
    margin-top: 20px;
}

.start {
    margin-top: 40px;
    padding: 8px 30px;
    background-color: transparent;
    border: 1px solid white;
    font-family: Poppins;
    color: white;
    border-radius: 6px;
    transition: 0.8s;
}

.start:hover {
    cursor: pointer;
    background-color: white;
    color:black;
    transform: translateY(-4px);
}


/*------------------------------------- B L O G / SECTION ---------------------------------------------*/


.blog {
    background-color: white;
}

.blogbloc-text {
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding-top: 40px;
}

.blog-title {
    font-size: 30px;
    font-weight: bolder;
}

p7 {
    margin-top: 15px;
    text-align: center;
    color: slategray;
}

.blog-bloctnr {
    display:flex;
    justify-content: space-around;
    padding: 0 260px;
    margin-top: 130px;
}

.blog-imgcard {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blog-image {
    border-radius: 10px;
}

.blog-image {
    width: 100%;
    object-fit: fill;
}

.blogcard-title {
    font-weight: bold;
    font-size: 17px;
    margin: 15px 0;
}

.blog-textcard {
    text-align: justify;
    font-size: 14px;
    font-weight: 200;
    padding-right: 100px;
    padding-bottom: 9px;
}

.btn-readmore {
    font-family: "Poppins";
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #1294b8;
}